.environmentLabel {
    position: absolute;
    z-index: 999;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

    background-color: rgba(0, 0, 0, 0.562);
}
.environmentContainer {
    width: 100%;
    height: 100px;
    position: relative;
}
