.mainContainer {
    padding:25px;
    
    display: block;
    margin: auto;
    background-repeat:no-repeat;
    background-position: center center;

    /* filter: blur(33px); */
    


}

.pauseMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.604);
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pauseTitle {
    font-size: 5rem;
}


.endScreenContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.809);
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.endScreenText {
    text-align: center;

    font-size: 5rem;
    font-weight: 300;
}

.endScreenSmallText {
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-weight: 300;
}

.environmentLabel {
    position: absolute;
    /* top:0px; */
    z-index: 999;
    /* display: block; */
    /* width: 100%; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
    padding: 10px;
    margin: 10px;
    
    background-color: rgba(0, 0, 0, 0.562);
    /* text-align: justify; */
}

.environmentContainer {
    /* width: 100%; */
    height: 200px;
    position: relative;

    border-style: solid;
    border-color: rgb(71, 71, 71);
    border-radius: 4px;
    border-width: 25px;
    /* padding: 1rem; */
    margin: .25rem;
}

.environmentActualContainer {
    width: 100%;
    background-color: #ffffff;
    padding: 1px;

}



.keyMapGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(0, 0, 0); */

}

.keyMap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 3rem;
    padding: 1rem;
    margin: .25rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-width: 25px;
}

.keyMapSelected {
    border-color: rgb(255, 255, 255);
}

.healthBarContainer {
    width: 100%;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 25vw 1fr;

}

.healthBar {
    height: 100px;
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.healthBarLabel {
    font-size: 2rem;
    text-align: center;
}

.enemyIcon {
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-repeat:no-repeat;
    background-position: center center;
    /* height: 100%;
    width: 100%; */
    padding: 1rem;
    margin: .25rem;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-width: 25px;
}

.enemyIconText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.enemyIconDefeated {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 100vw;
    height: 100vh; */
    filter: brightness(33%);
    /* background-color: rgba(0, 0, 0, 0.831); */
    /* z-index: 999; */
    /* backdrop-filter: blur(5px); */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}